[submodule "raylib"]
	path = libs/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "lua"]
	path = libs/lua
	url = git@github.com:lua/lua.git
[submodule "imgui"]
	path = libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "libs/imguizmo"]
	path = libs/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
