[submodule "lua"]
	path = libs/lua
	url = git@github.com:lua/lua.git
[submodule "imgui"]
	path = libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "libs/imguizmo"]
	path = libs/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "libs/entt"]
	path = libs/entt
	url = git@github.com:skypjack/entt.git
[submodule "libs/raylib"]
	path = libs/raylib
	url = git@github.com:raysan5/raylib.git
[submodule "libs/imgui-flame-graph"]
	path = libs/imgui-flame-graph
	url = git@github.com:bwrsandman/imgui-flame-graph.git
[submodule "libs/raygui"]
	path = libs/raygui
	url = git@github.com:raysan5/raygui.git
